*{
    font-family: 'Century gothic';
}

html{
    background-image: url(https://free4kwallpapers.com/uploads/originals/2019/03/14/the-library-wallpaper.jpg);
    background-size:cover;
    background-position:auto;
}
/* ------------------------------------------------Globales-- */
.txtCentrado{
    text-align: center;
}

.titulo{
    padding: 1rem;
}
/* -------------------------------------------------------------------------- */
.loginPadre{
    background-color:rgba(3, 154, 255, 0.884);;
    border-radius: 0.75rem;
    color: white;
}

.Menu-tl{
    background-color: rgba(3, 175, 255, 0.527);
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.formLogin{
    display:grid;
    padding: 2rem;
    row-gap: 0.5rem;
}

.formLogin-input{
    font-size: 1rem;
    margin: 0 auto;
    height: 2rem;
    width: 50%;
    border-radius: 0.5rem;
    background-color: #f7ede1;
}

.formLogin-inputBtn{
    border-radius: 0.5rem;
    border: none;
    font-size: xx-large;
    margin: 0 auto;
    height: 3rem;
    width: 35%;
    background-color: #f5b868;
}

.formLogin-inputBtn:hover{
    cursor: pointer;
    background-color:rgb(252, 203, 138);
    transition: ease background-color 1s;
}

.Menu{
    margin: 0 auto;
    width: 100%;
    height: 10%;
    background-color: rgba(3, 154, 255, 0.925);;
    padding: 1rem 0;
    border-radius: 0.5rem;
}

.Menu-logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu-titulo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(252, 248, 0);
    font-weight: bolder;
}

.Menu-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-Content{
    display: block;
}

.dropdown-Content{
    
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    display:none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.479);
    z-index: 1;
}

.dropdown-Content a{
    text-decoration: none;
    display: block;
    height: 1.5rem;
}

.dropdown-Content a:hover{
    text-align: center;
    background-color:yellow;
    border: 1px solid yelloww;
    border-radius: 1rem;
}

.Menu-contenido-derecha, .Menu-contenido-izquierda{
    column-gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LinksBtn, .btnLinkCategoria{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid transparent;
    border-radius: 1rem;
    width: 130px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(3, 62, 255);
    font-weight: bold;
}

.btnLinkCategoria{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid transparent;
    border-radius: 1rem;
    width: 130px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(3, 62, 255);
}

.LinksBtn:hover, .LinksBtnNT:hover{
    background-color: rgb(251, 255, 3);
    border: 1px solid rgb(217, 255, 3);
    color: black;
}

.LinksBtnNT{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(3, 62, 255);
}

.NameUser{
    text-align: right;
    padding: 0.5rem;
}
/* -------------------------------css Página Editoriales */
.contenedorEditoriales{
    margin: 0 auto;
    width: 50%;
    display: inline-flexbox;
    background-color: rgba(3, 175, 255, 0.87);
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.contenedorEditoriales a{
    display: block;
    color:rgb(255, 254, 191);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.contenedorEditoriales a:hover{
    background-color: rgb(3, 154, 255);
    color: rgb(253, 251, 101);
}

.contenedorEditorial{
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem;
    background-color: rgba(3, 175, 255, 0.87);
}

.EditorialIzquierda{
    width: 50%;
}

.EditorialDerecha{
    display: inline-flexbox;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

.EditorialIzquierda img{
    width: 50%;
    height: 50%;
    border: 5px solid black;
}

.contenedorAutores{
    display: flex;
    border-radius: 0.5rem;
    background-color: rgba(3, 175, 255, 0.87);
    margin: 1rem;
}

.AutoresIzquierda{
    width: 30%;
}

.AutoresDerecha{
    width: 70%;
}

.AutoresIzquierda img{
    border: 1rem solid rgba(251, 255, 3, 0.836);
    border-radius: 0.5rem;
    width: 50%;
    margin: 5rem;
}

.AutoresDerecha p{
    height:20%;
    overflow:auto;
}

.bandera{
    width: 15px;
    height: 15px;
}

.vt{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content:baseline;
}

.vtbtn{
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: black;
    background-color: rgb(251, 255, 3);
}

.vtbtn:hover{
    background-color:#fd950e;
    transition: ease background-color 0.5s;
}

.contenedorLibros{
    display:inline-flex;
    column-gap: 1rem;
    overflow-inline: auto;
}

.contenedorLibrosEditorial{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    overflow: auto;
}

.caratulaAI{
    width: 9rem;
    height: 13rem;
    border: 5px solid rgb(251, 255, 3);
    text-decoration: none;
}

.libroItem{
    display: inline-flexbox;
    row-gap: 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

.libroItem p{
    margin: 0;
    padding: 0;
}

.contenedorGenero{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: (5 1fr);
    align-items: center;
    justify-content: center;
    background-color:rgba(3, 175, 255, 0.87);
}

.titulo-cat{
    background-color: rgba(3, 175, 255, 0.87);
    border-radius: 0.5rem;
    padding: 1rem;

}